.subscription {
  padding: 64px;

  background-color: var(--primary-color);
  background-image: url(../../assets/subscribe_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  flex-direction: column;
  overflow: hidden;
}

.subscription-title {
  max-width: 750px;
  font-family: var(--playfair-display);
  font-size: 88px;
  font-weight: 600;
  line-height: 123px;

  text-align: center;
  color: #fff;
}

.subscription-subtitle {
  margin-top: 32px;

  font-family: var(--plus-jakarta-sans);
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;

  color: rgba(255, 255, 255, 0.8);
}

.subscription__form {
  margin-top: 40px;
  padding: 14px 14px 14px 24px;
  min-width: 480px;

  display: flex;
  gap: 10px;

  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.subscription__input {
  flex: 1;

  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  font-weight: 400px;
  color: #fff;
  opacity: 0.5;

  background: transparent;
  border: none;
  outline: none;
}

.subscription__input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscription-button {
  padding: 20px;
  min-width: 180px;

  font-family: var(--plus-jakarta-sans);
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;

  background: var(--black-400);
  border-radius: 46px;
  border: none;
  outline: none;
  cursor: pointer;
}
